#!KAMAILIO

loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "dispatcher.so"
loadmodule "xlog.so"

modparam("dispatcher", "list_file", "/etc/kamailio/dispatcher.list")

request_route {
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    if (!is_method("REGISTER|INVITE|ACK|BYE|CANCEL|MESSAGE|INFO|SUBSCRIBE|NOTIFY|UPDATE|PRACK")) {
        sl_send_reply("405", "Method Not Allowed");
        exit;
    }

    if (!ds_select_dst("1", "4")) {
        sl_send_reply("503", "No Upstream SIP Route");
        exit;
    }

    record_route();
    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}
